.user-form{
    border-collapse: separate; border-spacing: 10px;
    width: 100%;

}
.logo{
    padding: 10px;
    width: 100%;
}
.last-row{
    text-align: center;
}
.ck-editor__editable
{
    min-height: 500px;
}

.event {
    background-color: lightblue;
    border: black;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}

 .event a:active, a:link {
    text-decoration: none;
     color: black;
}
 .event a:visited{
     text-decoration: none;
     color: #171B1F;
 }
 .event a:hover{
     text-decoration: none;
     color: lightslategray;
 }


html{
    position: relative;
    min-height: 100%;

}

.img-thumbnail, .card-img-top{
    border-radius: 100%;
    width: 90%;
    align-self: center;
}


body {
    margin-bottom: 50px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* Height of the footer */
    text-align: center;
    padding-top: 10px;
    background-color: #3f9bd7;
}

.alert{
    margin: 10px;
    text-align: center;
}
.content{
    margin: 20px;
    #background-color: #3f9bd7;
}
.account{
    width: 100%;
    table-border-color-dark: lightslategray;
    border-collapse: separate;
    border-spacing: 10px;
}


