<!DOCTYPE html>
<html lang="cs">
<head>

    <title>{{ pageName }} - {{ currPageName }}</title>
    {% block head %}
        <!-- for HTML5 -->
        <meta charset="UTF-8"/>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <!-- my stylesheet -->
        <link rel="stylesheet" type="text/css" href="css/default.css">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
              integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
              crossorigin="anonymous">

    {% endblock %}

</head>
<body>

{% include "default/menu.twig" %}

{% if alert is defined %}
    <div class="row justify-content-md-center">

        <div class="col-md-10 col-lg-8 col-sm-11 alert alert-{{ alert.type }}" role="alert"><b>{{ alert.message }}</b>

        </div>

    </div>
{% endif %}
<div class="row justify-content-md-center">
    <div class="col-md-10 col-lg-8 col-12 content">
        {% block content %}

        {% endblock %}
    </div>
</div>
<div class="footer bg-primary">


    <i>Jakub Frank {{ "now"|date("Y") }}</i>


    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


</div>
</body>

</html>

