<div >
    <div class="col-sm-4 col-lg-3 col-12">
        <a href="index.php"><img src="images/logo.jpg" alt="logo" class="logo"></a>
    </div>
    <nav class=" col-12 navbar navbar-expand-md navbar-dark  bg-primary sticky-top">
        <a class="navbar-brand" href="index.php">{{ pageName }} </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link {% if currPage == "home" %}active {% endif %}"
                       href="index.php?page=home">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if currPage == "members" %}active {% endif %}"
                       href="index.php?page=members">Lidé</a>
                </li>
                {% if user is defined %}
                <li class="nav-item">
                    <a class="nav-link {% if currPage == "events" %}active {% endif %}"
                       href="index.php?page=events">Akce</a>
                </li>
                {% if user.weight >= 7 %}
                    <li class="nav-item dropdown {% if "admin" in currPage %}active {% endif %}">
                        <a class="nav-link dropdown-toggle"  href="#" id="dropDown-admin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administrace
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropDown-admin">
                            <a class="dropdown-item" href="index.php?page=eventAdmin">Akce</a>
                            <a class="dropdown-item" href="index.php?page=userAdmin">Uživatelé</a>

                        </div>
                    </li>


                    <li class="nav-item dropdown {% if "add" in currPage %}active {% endif %}">
                        <a class="nav-link dropdown-toggle"  href="#" id="dropDown-plus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-plus"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropDown-plus">
                            <a class="dropdown-item"
                               href="index.php?page=addAction">Akce</a>
                        </div>
                    </li>
                {% endif %} {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">

                {% if user is defined %}

                    <span class="navbar-text" style="padding-right: 10px">
                             Přihlášen jako: <b>{{ user.login}}</b>
                         </span>


                    <li class="nav-item">
                        <a class="nav-link {% if currPage == "myAccount" %}active {% endif %}"
                           href="index.php?page=myAccount"><i class="fas fa-address-book"></i> Můj účet</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           href="logout.php"><i class="fas fa-sign-out-alt"></i> Odhlášení</a>
                    </li>



                {% else %}

                    <li class="nav-item">
                        <a class="nav-link {% if currPage == "login" %}active {% endif %}"
                           href="index.php?page=login"><i class="fas fa-user"></i> Přihlášení</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if currPage == "registration" %}active {% endif %}"
                           href="index.php?page=registration"><i class="fas fa-sign-in-alt"></i> Registrace</a>
                    </li>
                {% endif %}


            </ul>
        </div>
    </nav>
</div>








