{% extends "default/default.twig" %}
{% import "macro/eventMacro.twig" as macro %}

{% block head %}
    {{ parent() }}
    <!-- CKEditor -->
    <script src="comp/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block content %}
    <h1>Nová akce</h1>
{{ macro.eventForm(eventTypes, times, null) }}



{% endblock %}