{% extends "default/default.twig" %}
{% import "macro/eventMacro.twig" as macro %}

{% block head %}
    {{ parent() }}
    <!-- CKEditor -->
    <script src="comp/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block  content %}

    {% if showEvent is defined %}
        <div class="row">
            <div class="col-5">
            <div class=" btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-light" href="index.php?page=eventAdmin"><i class="fas fa-chevron-circle-left fa-lg"></i></a>
                <button type="button" class="btn btn-danger" data-toggle="modal"
                        onclick="showModal('{{ showEvent.id }}')">
                    <i class="fas fa-trash-alt fa-lg"></i>
                </button>
            </div>
            </div>
            <div class="col-12 col-md-7">
                <h1>Upravit akci</h1>
            </div>

        </div>
        {{ macro.eventForm(eventType, times, showEvent) }}

    {% else %}


        <h1>Správa akcí</h1>
        <ul class="list-group">
            {% for event in events %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ event.name }}
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-light" href="index.php?page=eventAdmin&show={{ event.id }}"><i class="fas fa-edit fa-lg"></i> upravit</a>
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                onclick="showModal('{{ event.id }}')">
                            <i class="fas fa-trash-alt fa-lg"></i> odstranit
                        </button>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Smazání</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Opravdu chcete odstranit následující událost?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zrušit</button>
                    <a class="btn btn-primary" id="deleteBTN">Smazat</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showModal(removeID) {
            $('#delete').modal();
            document.getElementById("deleteBTN").setAttribute('href', 'index.php?page=eventAdmin&delete=' + removeID);
        }
    </script>


{% endblock %}
