{% extends "default/default.twig" %}


{% block content %}
    <a class="btn btn-light" href="index.php?page=events"><i class="fas fa-chevron-circle-left fa-2x"></i></a><br>
    <div class="row justify-content-between">
        <div class="col-md-4 col-9">
            <h1>{{ event.name }}</h1>
            <h5>{{ event.event_type }}</h5>
            <div class="row">
                <div class="col">Autor:</div>
                <div class="col"><i>{{ event.author }}</i></div>
            </div>
            <div class="row">
                <div class="col">Začátek:</div>
                <div class="col"><b>{{ event.time_start|date("d. m. Y - H:i") }}</b></div>
            </div>
            <div class="row">
                <div class="col">Konec:</div>
                <div class="col"><b>{{ event.time_end|date("d. m. Y - H:i") }}</b></div>
            </div>
        </div>
        <div class="col-md-2 col-4">
            <img class="img-fluid img-thumbnail" alt="fotka autora" src="{{ event.image_name }}">
        </div>
    </div>



    <hr>
    {{ event.description|raw }}



{% endblock %}