{% extends "default/default.twig" %}
{% import "macro/eventMacro.twig" as macro %}
{% import "macro/filter.twig" as filterMacro %}


{% block content %}

    <h1>Akce</h1>
    <div class="row justify-content-end">
        {{ filterMacro.filter(eventTypes) }}
    </div>
    {% for event in events %}
    {{ macro.getEvent(event) }}
    {% endfor %}

{% endblock %}