{% extends ("default/default.twig") %}
{% import "macro/eventMacro.twig" as macro %}

{% block content %}

    <h1>Vítejte v {{ pageName }}</h1>



    <h2>Následující akce</h2>
    {% for event in events %}
        {{ macro.getEvent(event) }}

    {% endfor %}

{% endblock %}