{% extends ("default/default.twig") %}


{% block content %}
    {% if user is not defined %}


            <div class="row justify-content-md-center">

                <div class="col-sm-12 col-md-5">
                    <h1>Přihlášení</h1>
                <form action="index.php?page=login" method="post">


                    <div class="form-group">
                        <label for="login">Login</label>
                        <input class="form-control" placeholder="login" type="text" name="login" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Heslo</label>
                        <input class="form-control" placeholder="heslo" type="password" name="password" required>
                    </div>
                    <div>
                        <input type="hidden" name="action" value="login">
                        <input class="btn btn-success" type="submit" value="Přihlášení">
                    </div>


                </form>

            </div>
        </div>




    {% else %}
        Uživatel {{ user.username }} je již přihlášen.
    {% endif %}


{% endblock %}


