{% extends "default/default.twig" %}


{% block content %}

    {% if member is defined %}
        <div class="row justify-content-start">
        <div class="col-2">
            <a class="btn btn-light" href="index.php?page=members"><i class="fas fa-chevron-circle-left fa-2x"></i></a>
        </div>
        <div class="col">
            <h1 class="text-center">Profil</h1>

        </div>


        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-5">

                <img class="img-thumbnail" src="{{ member.image_name|e }}">
                <form method="post" action="#"></form>
            </div>

            <div class="col-sm-12 col-md-7 ">
                <table class="table">
                    <tr>
                        <td>Jméno:</td>
                        <td>{{ member.name|e }} </td>
                    </tr>
                    <tr>
                        <td>Příjmení:</td>
                        <td>{{ member.surname|e }} </td>
                    </tr>
                    <tr>
                        <td>Role:</td>
                        <td>{{ member.role_name|e }} </td>
                    </tr>
                    {% if user.weight >5 or member.weight >5 %}
                        <tr>
                            <td>Email:</td>
                            <td>{{ member.email|e }} </td>
                        </tr>
                        <tr>
                            <td>Telefon:</td>
                            <td>{{ member.phone|e }} </td>
                        </tr>
                        {% if user.weight > 5 %}
                            <tr>
                                <td>Datum narození:</td>

                                <td>{% if member.birth_day is not null %}
                                        {{ member.birth_day|date("d. m. Y") }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}

                </table>


            </div>
        </div>

    {% else %}

        <h1>Lidé</h1>

        <div class="row">
            {% for member in members %}

                <div class="col-6 col-md-4">
                    <a class="member-link" href="index.php?{{ {"page": "members", "show": member.id}|url_encode }}">
                        <div class="card shadow">
                            <img class="card-img-top" height="75%" src="{{ member.image_name }}"
                                 alt="{{ member.full_name }} fotka">
                            <div class="card-body">
                                <h5 class="card-title"> {{ member.full_name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ member.role_name }}</h6>
                            </div>
                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>
    {% endif %}

{% endblock %}