{% extends "default/default.twig" %}


{% block content %}
    {% if user is defined %}
        <div class="row justify-content-center">
            <h1>Můj účet</h1>
        </div>


        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-5">
                <img class="img-fluid img-thumbnail" src="{{ user.image_name|e }}">
                <form method="post" action="#"></form>
            </div>

            <div class="col-sm-12 col-md-7 ">

                <form method="post" action="index.php?page=myAccount" enctype="multipart/form-data" >


                    <table class="account user-form">

                        <tr>
                            <td><label for="login">Login</label></td>
                            <td><input class="form-control" id="login" type="text" name="login" value="{{ user.login }}" disabled
                                       required></td>
                        </tr>
                        <tr>
                            <td><label for="name">Jméno</label></td>
                            <td><input class="form-control" id="name" type="text" name="name" value="{{ user.name }}" required>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="surname">Příjmení</label></td>
                            <td><input class="form-control" id="surname" type="text" name="surname" value="{{ user.surname }}"
                                       required></td>
                        </tr>
                        <tr>
                            <td><label for="email">Email</label></td>
                            <td><input class="form-control" id="email" type="email" name="email" value="{{ user.email }}" required>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="phone">Telefon</label></td>
                            <td><input class="form-control" id="phone" type="tel" name="phone" value="{{ user.phone }}"></td>
                        </tr>
                        <tr>
                            <td><label for="birth_day">Datum narození</label></td>
                            <td><input class="form-control" id="birth_day" type="date" name="birth_day" value="{{ user.birth_day }}">
                            </td>
                        </tr>
                        <tr>
                            <td><label for="image">Fotka</label></td>
                            <td>
                                <input type="file" id="image" name="image" lang="es" accept=".jpg, .jpeg, .png, .gif">
                            </td>
                        </tr>
                        <tr>
                            <td><label for="role">Role</label></td>
                            <td><input class="form-control" id="role" type="text" name="role" value="{{ user.role_name }}"
                                       disabled></td>
                        </tr>
                        <tr>

                            <td colspan="2" class="last-row"><input type="hidden" name="action"
                                                                  value="updateUser">
                                <input type="submit" value="Potvrdit změny" class="btn btn-success"></td>
                        </tr>
                    </table>


                </form>


            </div>
        </div>

    {% else %}
        <h4>Nejdříve se musíš přihlásit!a</h4>
    {% endif %}

{% endblock %}
