{% extends("default/default.twig") %}

{% block head %}
    {{ parent() }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block content %}

    <div class="row justify-content-md-center">
        <div class="col-md-6 col-sm-12">
            <h1>Registrace</h1>
            <form id=regForm action="index.php?page=registration" method="POST"
                  oninput="x.value=(pas1.value==pas2.value && pas1.value != '')?'heslo OK':'Hesla musejí být shodná'">
                <table class="user-form">
                    <tr>
                        <td><label for="login">Login</label>:</td>
                        <td><input class="form-control" type="text" name="login" maxlength="20" placeholder="login" required></td>
                    </tr>
                    <tr>
                        <td><label for="password">Heslo</label></td>
                        <td><input class="form-control" type="password" name="password" id="pas1" placeholder="heslo" required></td>
                    </tr>
                    <tr>
                        <td><label for="password2">Heslo znovu</label></td>
                        <td><input class="form-control" type="password" name="password2" id="pas2" placeholder="heslo znovu" required></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <output name="x" for="pas1 pas2"></output>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="name">Jméno</label></td>
                        <td><input class="form-control" type="text" name="name" placeholder="jméno" required></td>
                    </tr>
                    <tr>
                        <td><label for="surname">Příjmení</label></td>
                        <td><input class="form-control" type="text" name="surname" placeholder="příjmení" required></td>
                    </tr>
                    <tr>
                        <td><label for="email">Email</label></td>
                        <td><input class="form-control" type="email" name="email" placeholder="email" required></td>
                    </tr>
                    <tr>
                        <td><label for="phone">Telefon</label></td>
                        <td><input class="form-control" type="tel" name="phone" placeholder="telefon"></td>
                    </tr>
                    <tr>
                        <td>Role: </td>
                        <td><select class="custom-select" name="role" required>
                                <option selected disabled hidden>vyberte roli</option>
                                {% for right in rights %}
                                <option value="{{ right.role_id }}">{{ right.role_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    <tr>
                    <tr>
                        <td><label for="verify">Ověření</label></td>
                        <td><div id="vefify" class="g-recaptcha" data-sitekey="6LfGEYAUAAAAAK2YXYOn2H0rpmKw97LB3qxsXt7G"></div></td>
                    </tr>
                        <td colspan="2" class="last-row">
                            <input type="hidden" name="action" value="register">
                            <input type="submit" class="btn btn-success" value="Registrovat">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <script>
        var password = document.getElementById("pas1")
            , confirm_password = document.getElementById("pas2");

        function validatePassword(){
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Zadaná hesla se neshodují");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;

    </script>






{% endblock %}