{% extends "default/default.twig" %}
{% import "macro/filter.twig" as filterMacro %}



{% block content %}




    {% if showUser is defined %}

        <div class="row">
            <div class="col-5">
                <div class=" btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-light" href="index.php?page=userAdmin"><i
                                class="fas fa-chevron-circle-left fa-lg"></i></a>
                    <button type="button" class="btn btn-danger" data-toggle="modal"
                            onclick="showModal('{{ showUser.id }}')">
                        <i class="fas fa-trash-alt fa-lg"></i>
                    </button>
                </div>
            </div>
            <div class="col-12 col-md-7">
                <h1>Upravit uživatele</h1>
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-5">
                <img class="img-fluid img-thumbnail" src="{{ showUser.image_name|e }}">
                <form method="post" action="#"></form>
            </div>

            <div class="col-sm-12 col-md-7 ">

                <form method="post" action="#" enctype="multipart/form-data">


                    <table class="account user-form">

                        <tr>
                            <td><label for="login">Login</label></td>
                            <td><input class="form-control" id="login" type="text" name="login"
                                       value="{{ showUser.login }}" disabled
                                       required></td>
                        </tr>
                        <tr>
                            <td><label for="name">Jméno</label></td>
                            <td><input class="form-control" id="name" type="text" name="name"
                                       value="{{ showUser.name }}" required>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="surname">Příjmení</label></td>
                            <td><input class="form-control" id="surname" type="text" name="surname"
                                       value="{{ showUser.surname }}"
                                       required></td>
                        </tr>
                        <tr>
                            <td><label for="email">Email</label></td>
                            <td><input class="form-control" id="email" type="email" name="email"
                                       value="{{ showUser.email }}" required>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="phone">Telefon</label></td>
                            <td><input class="form-control" id="phone" type="tel" name="phone"
                                       value="{{ showUser.phone }}"></td>
                        </tr>
                        <tr>
                            <td><label for="birth_day">Datum narození</label></td>
                            <td><input class="form-control" id="birth_day" type="date" name="birth_day"
                                       value="{{ showUser.birth_day }}">
                            </td>
                        </tr>
                        <tr>
                            <td><label for="image">Fotka</label></td>
                            <td>
                                <input type="file" id="image" name="image" lang="es" accept=".jpg, .jpeg, .png, .gif">
                            </td>
                        </tr>
                        <tr>
                            <td><label for="role">Role</label></td>
                            <td><select class="custom-select" name="role" id="role" {% if user.weight != 10 %} disabled {% endif %}>
                                    {% for role in roles %}
                                        <option value="{{ role.role_id }}">{{ role.role_name }}</option>
                                    {% endfor %}
                                </select>

                            </td>
                        </tr>
                        <tr>

                            <td colspan="2" class="last-row"><input type="hidden" name="action"
                                                                    value="updateUser">
                                <input type="hidden" value="{{ showUser.login }}" name="login">
                                <input type="submit" value="Potvrdit změny" class="btn btn-primary"></td>
                        </tr>
                    </table>


                </form>


            </div>
        </div>

        <script>
            document.getElementById("role").value = "{{ showUser.role_id }}";

        </script>

    {% else %}
        <h1>Správa uživatelů</h1>

        <ul class="list-group">
            {% for user in users %}
                <li class="list-group-item d-flex justify-content-between align-items-center {{ user.role_name }}">
                <span><b>{{ user.full_name }} </b><i>({{ user.role_name }})</i>
                    {% if user.active == 1 %}
                        <span class="badge badge-success">aktivní</span>
                {% else %}
                        <span class="badge badge-danger">neaktivní</span>
                    {% endif %}
                </span>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-light" href="index.php?page=userAdmin&show={{ user.id }}"><i
                                    class="fas fa-edit fa-lg"></i> upravit</a>
                        <a class="btn btn-light" href="index.php?page=userAdmin&activate={{ user.id }}">
                            <i class="fas fa-power-off"></i> aktivace</a>
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                onclick="showModal('{{ user.id }}')">
                            <i class="fas fa-trash-alt fa-lg"></i> odstranit
                        </button>
                    </div>
                </li>
            {% endfor %}
        </ul>

    {% endif %}


    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Smazání</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Opravdu chcete odstranit následující událost?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zrušit</button>
                    <a class="btn btn-primary" id="deleteBTN">Smazat</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showModal(removeID) {
            $('#delete').modal();
            document.getElementById("deleteBTN").setAttribute('href', 'index.php?page=userAdmin&delete=' + removeID);
        }
    </script>


{% endblock %}