{% macro getEvent(event) %}

    <div class="event {{ event.event_type }}">
        <a href="index.php?{{ {"page": "events", "eventid": event.id}|url_encode }}">
            <h2>{{ event.name }}</h2>
            <h5>{{ event.event_type }}</h5>
            <b>{{ event.time_start|date("d. m. Y H:i") }} - {{ event.time_end|date("d. m. Y H:i") }}</b><br>
            <hr>
            {% if event.description|length > 100 %}
                {{ event.description|slice(0, 100)|raw }}...
            {% else %}
                {{ event.description|raw }}
            {% endif %}
        </a>
    </div>


{% endmacro %}


{% macro getFilter(eventTypes) %}
    <div class="col-12 col-md-3 ">


            <select class="custom-select col-8" id="eventType">
                <option value="all" selected>vše</option>
                {% for eventType in eventTypes %}
                    <option value="{{ eventType.name }}">{{ eventType.name }}</option>
                {% endfor %}
            </select>


            <button class="btn btn-secondary" onclick="filter()">filtrovat</button>

        <script>
            function filter() {
                var i;
                var eventType = document.getElementById("eventType").value;
                var toShow = document.getElementsByClassName(eventType);
                var items = document.getElementsByClassName("event");
                for (i = 0; i < items.length; i++) {
                    if (eventType === "all") {
                        items[i].style.display = "block";
                    } else {
                        items[i].style.display = "none";
                    }
                }
                console.log(toShow.length);
                for (i = 0; i < toShow.length; i++) {
                    toShow[i].style.display = "block";
                }
            }


        </script>


    </div>

{% endmacro %}


{% macro eventForm(eventTypes, times, event) %}
    <form method="post" action="">
        <div class="form-group">
            <input class="form-control form-control-lg" type="text" name="eventName" placeholder="Název akce" required
                   value="{{ event.name }}">
        </div>
        <div class="form-group">
            <select class="custom-select" name="eventType" id="eventType" required>
                <option selected disabled hidden>vyberte typ akce</option>
                {% for type in eventTypes %}
                    <option value="{{ type.id }}">{{ type.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-row">

            <div class="form-group col-md-6 col-sm-12">
                <div class="form-row align-items-end">
                    <div class="col">
                        <label for="dateStart">Začátek</label>
                        <input type="date" id="dateStart" class="form-control" name="dateStart" required
                               value="{{ event.time_start }}">
                    </div>
                    <div class="col">
                        <select name="timeStart" id="timeStart" class="custom-select" required>
                            <option selected disabled hidden>hh:mm</option>
                            {% for time in times %}
                                <option value="{{ time }}">{{ time }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6 col-sm-12">
                <div class="form-row align-items-end">
                    <div class="col">
                        <label for="dateEnd">Konec</label>
                        <input type="date" id="dateEnd" class="form-control" name="dateEnd" required
                               value="{{ event.time_end }}">
                    </div>
                    <div class="col">
                        <select name="timeEnd" id="endTime" class="custom-select">
                            <option selected disabled hidden>hh:mm</option>
                            {% for time in times %}
                                <option value="{{ time }}">{{ time }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <textarea name="eventDescription" id="editor"
                      style="min-height: 500px">{{ event.description|raw }}</textarea>
        </div>
        <div class="form-group">
            <input type="hidden" name="eventId" value="{{ event.id }}">
            <input type="hidden" name="action" value="event">
            <input type="submit" class="btn-lg btn-success" value="odeslat">
        </div>


    </form>

    <script>
        CKEDITOR.replace('editor',).config.height = 400;
        {% if event is not null %}
        document.getElementById("eventType").value = "{{ event.event_typeID }}";
        document.getElementById("dateStart").value = "{{ event.time_start|date("Y-m-d") }}";
        document.getElementById("timeStart").value = "{{ event.time_start|date("G:i") }}";
        document.getElementById("endTime").value = "{{ event.time_end|date("G:i") }}";
        document.getElementById("dateEnd").value = "{{ event.time_end|date("Y-m-d") }}";
        {% endif %}
    </script>

{% endmacro %}

