{% macro filter(itemTypes) %}

    <div class="col-12 col-md-3 ">

        <div class="row">
            <select class="custom-select col-8" id="eventType">
                <option value="all" selected>vše</option>
                {% for itemType in itemTypes %}
                    <option value="{{ itemType.name }}">{{ itemType.name }}</option>
                {% endfor %}
            </select>

            <div class="col-4">
                <button class="btn btn-secondary" onclick="filter()">filtrovat</button>
            </div>
        </div>
        <script>
            function filter() {
                var i;
                var eventType = document.getElementById("eventType").value;
                var toShow = document.getElementsByClassName(eventType);
                var items = document.getElementsByClassName("event");
                for (i = 0; i < items.length; i++) {
                    if (eventType === "all") {
                        items[i].style.display = "block";
                    } else {
                        items[i].style.display = "none";
                    }
                }
                console.log(toShow.length);
                for (i = 0; i < toShow.length; i++) {
                    toShow[i].style.display = "block";
                }
            }


        </script>


    </div>




{% endmacro %}